# -*- coding: utf-8 -*-
"""
Created on Sun Feb  9 15:30:25 2025

@author: win11
"""
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap');

/*body {background-color: #325d87 !important}*/
.container-fluid {padding:0 !important}
.container-fluid .row:first-child {padding:1.5rem}


/* COLORS OF RANGESLIDER MARKERS */
.rc-slider-mark-text {color:#000}
.rc-slider-mark-text-active {color:#000;font-weight:bold;font-size:.9rem;}


h1, h2{
  font-family: "EB Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}